@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@1,300&family=Manrope:wght@600;800&display=swap');

* {  
    margin: 0;
    padding: 0;
    /* background: #fff0e6;  */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Chivo';
    margin-top: 2em;
    color: #b0826a;
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

video {
    width: 75%;
    margin-top: 2em;
}
.video-container:hover .controls {
    transform: translateY(-100%);
    display:flex;
}

.controls {
    display: none;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 75%;
    flex-wrap: wrap;
    outline: none;
    border-bottom: none;
    background: rgba(0, 0, 0, 0.3);
}

.buttons {
    cursor: pointer;
}

.progress-bar {
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background: gray;
}

.progress {
    height: 10px;
    background: #ffc299;
}

.volume-control{
    display: flex;
    position: absolute;
    left: 5%;
    top: 21%;
}

.img {
    width: 22px;
    height: 22px;
    padding: 0.5em;
    cursor: pointer;
}

.pause-btn {
    display: none;
}

.mute-btn {
    display: none;
}

.volume-panel {
    position: absolute;
    left: 10%;
    top: 40%;
}

[type="range"] {
    background: transparent;
    outline: none;
}

[type="range"],
[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

[type="range"]::-webkit-slider-thumb {
    background: #ffc299;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}

[type="range"] {
    appearance: none;
    background: #ffc299;
    border-radius: 7px;
    height: 7px;
}
