@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@1,300&family=Manrope:wght@600;800&display=swap');

* {  
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Chivo';
    margin-top: 2em;
    color: #5a5854;
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

video {
    width: 75%;
    margin-top: 2em;
}
.video-container:hover .controls {
    transform: translateY(-100%);
    display:flex;
}

.controls {
    display: none;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 75%;
    flex-wrap: wrap;
    outline: none;
    border-bottom: none;
    background: rgba(0, 0, 0, 0.3);
}

.buttons {
    cursor: pointer;
    max-width: 42px;
}

.progress-bar {
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background: gray;
    cursor: pointer;
}

.progress {
    height: 10px;
    background: #fb8a35;
}

.volume-control{
    display: flex;
    position: absolute;
    left: 5%;
    top: 21%;
}

.img {
    width: 22px;
    height: 22px;
    padding: 0.5em;
    cursor: pointer;
}

.pause-btn {
    display: none;
}

.mute-btn {
    display: none;
}

.volume-panel {
    position: absolute;
    left: 10%;
    top: 40%;
}

[type="range"] {
    background: transparent;
    outline: none;
}

[type="range"],
[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

[type="range"]::-webkit-slider-thumb {
    background: #fb8a35;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    cursor: pointer;
}

[type="range"] {
    appearance: none;
    background: #fb8a35;
    border-radius: 7px;
    height: 7px;
}

.time-display {
    position: absolute;
    left: 27%;
    top: 43%;
}

.time-display span {
    color: white;
}

.settings-display {
    display: flex;
    position: absolute;
    top: 24%;
    right: 5%;
}

.full-screen-mode {
    display: flex;
    position: absolute;
    top: 24%;
    right: 1%;
}

.display-speed.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateY(-125%);
}

.speed {
    color: white;
    cursor: pointer;
    border-bottom: 1px solid #ffc299;
}

.display-speed {
    display: none;
} 

@media (max-width: 1444px) {
    .time-display {
        left: 50%;
    }

    .volume-control {
        left: 10%;
    }

    .volume-panel {
        left: 18%;
    }

    .settings-display {
        right: 10%;
    }

    .full-screen-mode {
        right: 3%;
    }
}

@media (max-width: 623px) {
    .controls {
        height: 70px;
    }

    .volume-control {
        left:0;
        top: 50%;
    }

    .volume-panel {
        left: 10%;
        top: 62%;
    }

    .time-display {
        left: 10%;
        top: 30%; 
    }

    .settings-display {
        right: 18%;
    }
}

@media (max-width: 430px) {
    .time-display {
        left: 17%;
    }

    .volume-panel {
        left: 17%;
    }

    .settings-display , .full-screen-mode {
        top: 30%;
    }
}